<!DOCTYPE html>
<html>

<head>
    <meta charset='utf-8'>
    <meta http-equiv='X-UA-Compatible' content='IE=edge'>
    <title>Music quiz </title>
    <meta name='viewport' content='width=device-width, initial-scale=1'>
     {% load static %}
    <link rel='stylesheet' type='text/css' media='screen' href='{% static "css/style.css" %}'>
    <script> var lobbyId = {{lobbyId}}; </script>
    <script src='{% static "js/lobby.js" %}'></script>
</head>

<body>
   
    
</body>

    <div id='GameArea'> </div>

    <a href='/'> Exit lobby </div>

</html>        