<!DOCTYPE html>
<html>

<head>
    <meta charset='utf-8'>
    <meta http-equiv='X-UA-Compatible' content='IE=edge'>
    <title>Music quiz </title>
    <meta name='viewport' content='width=device-width, initial-scale=1'>
     {% load static %}
    <link rel='stylesheet' type='text/css' media='screen' href='{% static "css/style.css" %}'>
    <script src='{% static "js/song_creation.js" %}'></script>
</head>

<body>

    {% if failed %}
        Operation failed, try again.
    {% endif %} 

    <form action="/songs" method="post">
        {% csrf_token %}
        {{ form }}
        <input type="submit" value="Submit">
    </form>
    <a href='/'><button>Go back</button></a>

    <div>
    Song list:
    <ul> 
    {% for song in songs %} 
    <li>    
        {{song.title}}   
        <form action='/songs/delete/{{song.id}}' method='post'>
        <div>
            <input type='submit' value='Delete'>
        </div>
        </form> 
    </li>    
    {% endfor %}
    </ul>
    </div>
</body>

</html>